@model IEnumerable<Mieli_Mielo.Models.Commande>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateCommande)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UtilisateurId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateCommande)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UtilisateurId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommandeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommandeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommandeID })
        </td>
    </tr>
}

</table>
